:root {
  --background-color: #aabbcc;
  --dragbox-background-color: #aa33cc;
}

div .page-controls-widget {
  z-index: 99;
}

div .draggable-container {
  position: absolute;
  display: inline-block;
}

div .draggable-container:active {
  cursor: all-scroll;
  box-shadow: 1px 1px 10px 5px gray;
}

div .diagram {
  position: relative;
  width: 100%;
  height: calc(100vh - 170px);
  top: 40px;
  overflow: hidden;
  background: transparent;
  box-shadow: 1px 1px 10px 5px gray;
}

.diagram .diagram-page {
  position: relative;
  width: 100%;
  height: 100%;
  background: var(--background-color);
  background-size: 15px 15px;
  background-image: linear-gradient(to right, #838282 1px, transparent 1px),
    linear-gradient(to bottom, #838282 1px, transparent 1px);
}

.diagram-node-box {
  width: 100%;
  height: 100%;
  padding: 5px;
}

.diagram-node-box > .diagram-node-body {
  background-color: rgba(80, 80, 80, 1);
  width: 100%;
  height: 100%;
  padding: 10px;
  z-index: 2;
}

.diagram-node-body > .diagram-node-content {
  margin: auto auto;
  background-color: rgba(120, 120, 120, 1);
}

.diagram-node {
  position: relative;
  width: 200px;
  height: 200px;
  text-align: center;
  border: 1px solid black;
  background: var(--dragbox-background-color);
  box-sizing: border-box;
}

.diagram-node:hover {
  cursor: grab;
}

.diagram-node:active {
  cursor: grabbing;
}

.diagram-node:focus {
  border: 2px solid blue;
}

.diagram-node-body .diagram-node-endpoint {
  border: 1px solid blue;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.resizable-container {
  position: relative;
  display: inline-block;
}

.resizable-handles .resize-handle-nw,
.resizable-handles .resize-handle-sw,
.resizable-handles .resize-handle-se,
.resizable-handles .resize-handle-ne {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: transparent;
  margin: 0px;
  padding: 0px;
}

.resizeable-container .resize-handles {
  position: relative;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  border: 1px solid blue;
}

.resize-handles .resize-handle-nw {
  top: 0px;
  left: 0px;
}

.resize-handle-sw {
  bottom: 0px;
  left: 0px;
}

.resize-handle-se {
  bottom: 0px;
  right: 0px;
}

.resize-handle-ne {
  top: 0px;
  right: 0px;
}

.resize-handle-nw:hover,
.resize-handle-se:hover {
  cursor: nwse-resize;
}

.resize-handle-sw:hover,
.resize-handle-ne:hover {
  cursor: nesw-resize;
}
